<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link rel="stylesheet" href="css/back1.css" />
  <link rel="stylesheet" href="css/grayscale1.min.css" />
  

  <title>Hydroponic Farm-Cost.1</title>
</head>

<body id="intro">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="1หน้า Home.html">HOME</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">ABOUT</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="3หน้า How to care.html">HOW TO CARE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="2หน้า Cost No.1.html">COST</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <div class="container-fluid">
  <div id="intro2">
          
          <div class="textice">Cost</div>
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col">Electricity bil</th>
              <th scope="col">0 Unit</th>
              <th scope="col">   0 Bath</th>
            </tr>
          </thead>
          <tbody>
            <tr>

              <th scope="col">     Water bill</th>
              <th scope="col">0 Unit</th>
              <th scope="col">   0 Bath</th>
            </tr>
            <tr>

              <th scope="col">Fertilizer(A) bill</th>
              <th scope="col"d>0 Gram</th>
              <th scope="col">   0 Bath</th>
            </tr>
            <tr>

              <th scope="col">Total</th>
              <th scope="col"></th>
              <th scope="col">   0 Bath</th>
            </tr>
          </tbody>
          </table>
  </div>
  </div>




  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>